.filter-form {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.filter-form input {
  max-width: 250px;
  width: 250px;
  padding: var(--space-sm) 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.filter-form button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  padding: 0px;
  height: 35px;
  flex: 0 0 35px;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-form button {
  background: var(--secondary-color);
  color: #fff;
}

.filter-form button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .filter-form #filter-submit {
    margin-left: auto;
  }

  .filter-form input {
    flex: 1;
    max-width: 200px;
    width: 200px;
    margin-right: auto;
  }
}
