.header {
  background: #fff;
  padding: var(--space-md) var(--space-xl);
  display: flex;
  border-bottom: 1px solid var(--color-border);

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.app-title {
  font-size: 2rem;
  white-space: nowrap;
  margin-right: auto;
  display: flex;
  align-items: center;
  color: var(--primary-color);
}
