.layout {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  min-height: calc(100vh - 60px);
}

.main {
  padding: var(--space-xl);

  h1 {
    padding-bottom: 1rem;
  }
}

.welcome {
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.module {
  background: #fff;
  padding: var(--space-md);
  border-radius: calc(var(--radius) * 0.5);
  box-shadow: var(--base-shadow);
}

.separator {
  border: none;
  height: 2px;
  width: 100%;
  background: var(--color-bg);
  margin-bottom: 1rem;
}
