.layout {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  min-height: calc(100vh - 60px);
}

.main {
  padding: var(--space-xl);

  h1 {
    padding-bottom: 1rem;
  }
}

.welcome {
  margin-bottom: 2rem;
}
