.meal-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin-top: var(--space-md);

  &.loading {
    display: flex;

    .meal-card {
      display: none;
    }
  }

  /* Tablet */
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Mobile */
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.meal-card {
  background: var(--color-surface);
  padding: var(--space-md);
  border: 1px solid var(--color-border);
  border-radius: calc(var(--radius) / 2);
  display: flex;
  flex-direction: column;
}

.meal-actions {
  margin-top: auto;
}

.meal-image {
  background: var(--color-border);
  margin-bottom: 1rem;
}

.meal-image img {
  object-fit: cover;
  aspect-ratio: 16/10;
}

.meal-title {
  margin-bottom: 1rem;
  font-weight: 600;
}

.meal-actions {
  display: flex;
  justify-content: space-between;
}

.meal-recipe-btn {
  background: var(--secondary-color);
  padding: var(--space-sm);
  text-align: center;
  border: 1px solid var(--secondary-color);
  font-weight: 400;
  color: #fff;
}

.icon-btn,
.favorite-btn {
  padding: 0px;
  height: 35px;
  width: 35px;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    background: var(--primary-color);
    color: #fff;
  }
}

.meal-error {
  background: #ec7c7c;
  border: 1px solid #f35d5d;
  color: var(--color-surface);
  text-align: left;
  font-weight: 500;
  padding: var(--space-md);
  border-radius: calc(var(--radius) / 2);
}
