/* reset.css */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins */
* {
  margin: 0;
  padding: 0;
}

/* Body defaults */
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Media elements */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Form elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}
